body {
  background-color: #ccc;
}

.calculadora {
  margin-top: 40px;
  border: solid 10px #fff;
  padding: 20px;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
}

.calculadora p {
  text-align: center;
}

input {
  margin-bottom: 20px;
}

.calcular {
  width: 250px;
}

.resultado {
  width: 250px;
  height: 150px;
  background-color: #fff;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 20px;
  color: #000;
}
